/*container-fluid mt-3 text-light p-3 mb-2 bg-light-subtle text-light-emphasis d-flex flex-column min-vh-100*/
body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

h2{
    margin-top: 5%; 
    margin-bottom: 5%;
}

#infoTitre{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#infoDescLiens{
    margin-top: 2%;
}

.titreDescLiens{
    max-width: 560px; 
    text-align: center; 
    margin-top: 3%; 
    margin-bottom: 2%;
}

#blocDesc{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 10%;
}

.videoDesc{
    max-width: 560px;
    max-height: 315px;
    margin-bottom: 10%;
}

#blocliens{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 10%;
}

#blocliens ul{
    align-self: flex-start;
    text-align: left;
}

#blocliens li {
    list-style-type: none;
    padding-bottom: 3%;
}