/*container-fluid mt-3 text-light p-3 mb-2 bg-light-subtle text-light-emphasis d-flex flex-column min-vh-100*/
body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

h2{
    margin-top: 5%; 
    margin-bottom: 5%;
}

.infos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#descriptionFormation{
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
}

#infoDescLiens{
    margin-top: 2%;
}

.titreDescLiens{
    max-width: 400px; 
    text-align: center; 
    margin-top: 3%; 
    margin-bottom: 2%;
}

#blocDesc{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.videoDesc{
    display: flex; 
    justify-content: center;
}

#blocliens{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#blocliens ul{
    align-self: flex-start;
    text-align: left;
    padding-left: 2%;
    padding-right:2%
}

#blocliens li {
    list-style-type: none;
    padding-bottom: 3%;
}

button a{
    text-decoration: none;
    color:inherit
}

#carteLocalisation{
    height: 80vh;
    width: 80%;
    margin-bottom: 5%;
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.leaflet-popup-content-wrapper{
    text-align: center;
}

#anecdoteModal{
    border: 1px solid rgba(133, 133, 133, 0.315);
    border-radius: 7px;
    height: 10vh;
    text-align: center;
}