body{
    display: flex;
    flex-direction: column;
}

.header_img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-left: 2%;
    margin-top: 2%;
}

h1{
    text-align: center;
}

h2{
    margin-top: 1.5vh; 
    margin-bottom: 1vh;
}


.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro_paragraphe{
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
}

.main{
    margin-top: 2%;
}

.main_legend{
    max-width: 400px; 
    text-align: center; 
    margin-top: 3%; 
    margin-bottom: 2%;
}

.main_fieldset{
    margin-top: 3%; 
    margin-bottom: 2%;
}

.fieldset_label{
    margin-right: 1rem;
}

.fieldset_form{
    width: 100%;
    margin-left: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.form_legend{
    margin-bottom: 2%;
}

.form_button{
    display: flex;
    justify-content: center;
}


#blocDesc{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.main_video_display{
    display: flex; 
    justify-content: center;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: contain;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
}

#blocliens{
    border: 1px solid rgba(194, 194, 194, 0.404);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#blocliens ul{
    align-self: flex-start;
    text-align: left;
    padding-left: 2%;
    padding-right:2%
}

#blocliens li {
    list-style-type: none;
    padding-bottom: 3%;
}

button a{
    text-decoration: none;
    color:inherit
}

.main_carte{
    margin-top: 3%; 
    margin-left:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_fieldset-carte{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map_display{
    height: 80vh;
    width: 80%;
    margin-bottom: 5%;
}

.leaflet-popup-content-wrapper{
    text-align: center;
}

#anecdoteModal{
    border: 1px solid rgba(133, 133, 133, 0.315);
    border-radius: 7px;
    height: 10vh;
    text-align: center;
}

@media screen and (width<1025px){
    .form_element{
    width: 100%;
    margin: 2% 1% 2px 1% ;
    }
}

@media screen and (width>=1025px){
    .form_element{
    max-width: 100%;
    margin: 2% 1% 2px 1% ;
    }
}